<mat-toolbar>Menus</mat-toolbar>


<mat-form-field>
  <input matInput placeholder="Nombre" [(ngModel)]="menu.nombre">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="icono" [(ngModel)]="menu.icono">
</mat-form-field>


<mat-form-field>
    <input matInput placeholder="URL" [(ngModel)]="menu.url">
  </mat-form-field>


<button mat-raised-button color="primary" (click)="operar()">{{textButton}}</button>
<button mat-raised-button color="accent" (click)="openEdicion()">Cancelar</button>


<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="filter($event.target.value)" placeholder="Buscar menus">
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="idMenu">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.idMenu}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.nombre}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="icono">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Icono </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.icono}}</mat-cell>
  </ng-container>

  
  <ng-container matColumnDef="url">
    <mat-header-cell *matHeaderCellDef mat-sort-header> URL </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.url}}</mat-cell>
  </ng-container>



  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" (click)="openEdicion(row)">
        <mat-icon>ballot</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="eliminar(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
