
<section class="example-container">

    <h2>Roles de Menu {{menu.nombre}}</h2>

    <section class="example-section">
        <mat-checkbox class="example-margin" *ngFor="let r of roles" [value]="r.idRol" [(ngModel)]="checked[r.idRol]">{{r.nombre}}</mat-checkbox>
    </section>

    <div class="buttons-container">

        <button mat-raised-button color="primary" type="button" (click)="operar()" >
            <mat-icon>done</mat-icon>
            <span>Aceptar</span>
        </button>
    
        <button mat-raised-button color="accent" routerLink='/menu_rol' type="button">
            <mat-icon>close</mat-icon>
            <span>Cancelar</span>
        </button>

    </div>
</section>

